// *** begin kinds *** //
.kinds
   position: relative
   padding: 138px 0 95px
   +md
      padding: 105px 0 95px
   +sm
      padding: 60px 0 25px
   &__decor
      +sm
         display: none
      &_1
         top: 49%
         left: 4%
         width: percentage(220 / 1920)
         padding-top: percentage(291 / 1920)
         +lg
            left: 0
         +md
            left: 3%
            top: 7%
      &_2
         top: 30.5%
         right: 7.5%
         width: percentage(202 / 1920)
         padding-top: percentage(222 / 1920)
         +lg
            right: -0.5%
         +md
            right: 3.5%
            top: 5.5%
            
      &_3
         top: 84.7%
         right: 3.7%
         width: percentage(253 / 1920)
         padding-top: percentage(272 / 1920)
         +rmin(2000)
            top: 74.7%
         +lg
            top: 89.7%
            right: -0.3%
         +md
            top: 89.2%
   &__title
      margin-bottom: 70px
      +md
         margin-bottom: 40px
      +sm
         margin-bottom: 20px
   &__row
      position: relative
      
   &__block
      &-title
         position: relative
         padding: 21px 20px 14px
         overflow: hidden
         +md
            font-size: 16px
         +sm
            padding: 8px 10px 1px
            font-size: 14px
         &::after
            position: absolute
            z-index: -1
            top: 0
            left: 0
            width: 100%
            height: 95px
            background: url("../img/bg/gray-top.png") 50% 0
            content: ''
         +cover
      &-img-wrap
         +ratio(350, 252)
         box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15)
         
   &__divider
      position: absolute
      left: 0
      width: 100%
      height: 143px
      pointer-events: none
      +sm
         display: none
      &_1
         top: calc(25% - 80px)
      &_2
         top: calc(50% - 73px)
      &_3
         top: calc(75% - 67px)
      &::before, &::after
         position: absolute
         content: ''
         width: 143px
         height: 143px
         background: url("../img/decor/cross-divider.png")
         +cover
      &::before
         left: calc(33.33333% - 73px)
      &::after
         left: calc(66.66666% - 73px)
// end kinds //
