// *** begin reviews *** //
.reviews
   &__row
      margin: 0 -15px 50px
   &__item
      &-img-wrap
         margin-bottom: 20px
         box-shadow: 0 10px 20px rgba(155, 155, 155, 0.4)
         +ratio(350, 330)
      &-descr
         max-width: 320px
         +f('pn800', 16, 24)
         text-transform: uppercase
   &__actions
      text-align: center
      &-btn
         min-width: 350px
// end reviews //
