.screen
   position: relative
   z-index: 1
   margin-bottom: -1px
   padding: 200px 0 100px
   background-color: $white
   overflow: hidden
   &::after
      position: absolute
      bottom: -1px
      left: 0
      width: 100%
      z-index: 2
      padding-top: percentage(230 / 1920)
      background: url("../img/decor/screen_decor-bot.png") no-repeat 50% 50% / contain
      pointer-events: none
      content: ''
   &__decor
      &_1
         top: 0
         left: 32px
         width: percentage(228 / 1920)
         padding-top: percentage(457 / 1920)
      &_2
         left: -49px
         bottom: -150px
         width: percentage(997 / 1920)
         padding-top: percentage(850 / 1920)
      &_3
         right: -69px
         bottom: 0
         width: percentage(1159 / 1920)
         padding-top: percentage(933 / 1920)
         
   &__inner
      padding: 93px 0 0
      background-image: linear-gradient(to left, #2664f3 0%, #062b81 100%)
   &__container
      display: flex
      justify-content: flex-end
      z-index: 5
   &__content
      flex: 0 1 percentage(653 / 1140)
   &__img
      flex: 0 1 percentage(472 / 1140)
   &__title
      margin-bottom: 30px
      text-align: left
   &__request-block
      max-width: 520px
      
   &__scroll-btn
      position: absolute
      bottom: 12px
      left: calc(50% - 28px)
      z-index: 3
      +flexCenter
      width: 56px
      height: 56px
      border-radius: 50%
      box-shadow: 0 5px 15px rgba(155, 155, 155, 0.4)
      background-color: #ffffff
      transition: .3s ease-in-out
      &:hover
         svg
            animation: smallMoveDown .4s ease-in-out
      svg
         margin-top: 3px
         font-size: 13px
