.header
   $parent: &
   position: absolute
   top: 0
   left: 0
   width: 100%
   z-index: 10
   padding: 24px 0
   +sm
      padding: 15px 0
   &__container
      display: flex
      align-items: center
      justify-content: space-between
   &__logo
      display: flex
      align-items: center
      flex: 0 1 445px
      margin-right: 15px
      +sm
         margin-right: 0
         flex: 0 1 235px
      &-img
         margin-right: 32px
         flex-basis: 159px
         height: 159px
         +lg
            flex-basis: 120px
            height: 120px
         +md
            flex-basis: 80px
            height: 80px
            margin-right: 15px
         +sm
            flex-basis: 60px
            height: 60px
            margin-right: 8px
         
   
      &-text
         +f('int', 18, 24)
         text-transform: uppercase
         color: #000
         +md
            font-size: 16px
            line-height: 22px
         +sm
            font-size: 12px
            line-height: 14px
            
   &__actions
      display: flex
      align-items: center
      margin: -30px 5px 0 0
      +md
         margin: 0
      +sm
         flex-direction: column
         align-items: flex-end
         margin: 0
         
   &__call-btn
      margin-left: 40px
      min-width: 275px
      +md
         margin-left: 20px
         min-width: 250px
      +sm
         display: none
